google-auth>=2.29.0
google-auth-oauthlib>=1.2.0
google-api-python-client>=2.130.0
requests>=2.31.0
faster-whisper>=1.0.0
numpy>=1.26.0
pillow>=10.3.0
soundfile>=0.12.1
kokoro>=0.3.0

dailymotion
curl_cffi

